/* Write your CSS here */

.item-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.para {
  font-family: Roboto;
  font-weight: bold;
  margin-right: 20px;
}

.delete-button {
  background-color: transparent;
  color: #ff0b37;
  border-color: #ff0b37;
  border-radius: 5px;
  height: 35px;
  width: 80px;
  cursor: pointer;
}
